<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="gazebo_control_plugin"> <!-- 定义一个名为 gazebo_control_plugin 的宏 -->
        <gazebo>
            <plugin name='diff_drive' filename='libgazebo_ros_diff_drive.so'> <!-- 引入差速驱动插件 -->
                <ros>
                    <namespace>/</namespace> <!-- 设置 ROS 命名空间为根 -->
                    <remapping>cmd_vel:=cmd_vel</remapping> <!-- 重映射速度命令话题 -->
                    <remapping>odom:=odom</remapping> <!-- 重映射里程计话题 -->
                </ros>
                <update_rate>30</update_rate> <!-- 更新速率设置为 30Hz -->

                <!-- wheels -->
                <left_joint>left_wheel_joint</left_joint> <!-- 左轮子关节的名称 -->
                <right_joint>right_wheel_joint</right_joint> <!-- 右轮子关节的名称 -->

                <!-- kinematics -->
                <wheel_separation>0.2</wheel_separation> <!-- 左右轮子之间的距离（米） -->
                <wheel_diameter>0.064</wheel_diameter> <!-- 轮子的直径（米） -->

                <!-- limits -->
                <max_wheel_torque>20</max_wheel_torque> <!-- 最大轮子扭矩（牛顿米） -->
                <max_wheel_acceleration>1.0</max_wheel_acceleration> <!-- 最大轮子加速度（米每二次方秒） -->

                <!-- output -->
                <publish_odom>true</publish_odom> <!-- 启用里程计输出 -->
                <publish_odom_tf>true</publish_odom_tf> <!-- 启用里程计的坐标变换输出 -->
                <publish_wheel_tf>true</publish_wheel_tf> <!-- 启用轮子的坐标变换输出 -->

                <odometry_frame>odom</odometry_frame> <!-- 里程计的框架名称 -->
                <robot_base_frame>base_footprint</robot_base_frame> <!-- 机器人底部的框架名称 -->
            </plugin>
        </gazebo>
    </xacro:macro>
</robot>
