<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <!-- 定义一个名为 box_inertia 的宏，用于计算长方体的惯性 -->
    <xacro:macro name="box_inertia" params="m w h d">
        <inertial>
            <mass value="${m}"/> <!-- 设置物体的质量 -->
            <inertia
                ixx="${(m/12)*(h*h+d*d)}"  <!-- 绕 x 轴的惯性矩 -->
                ixy="0.0"                  <!-- xy 平面内的惯性耦合项 -->
                ixz="0.0"                  <!-- xz 平面内的惯性耦合项 -->
                iyy="${(m/12)*(w*w+d*d)}"  <!-- 绕 y 轴的惯性矩 -->
                iyz="0.0"                  <!-- yz 平面内的惯性耦合项 -->
                izz="${(m/12)*(w*w+h*h)}"  <!-- 绕 z 轴的惯性矩 -->
            />
        </inertial>
    </xacro:macro>

    <!-- 定义一个名为 cylinder_inertia 的宏，用于计算圆柱体的惯性 -->
    <xacro:macro name="cylinder_inertia" params="m r h">
        <inertial>
            <mass value="${m}"/> <!-- 设置物体的质量 -->
            <inertia
                ixx="${(m/12)*(3*r*r+h*h)}"  <!-- 绕 x 轴的惯性矩 -->
                ixy="0.0"                     <!-- xy 平面内的惯性耦合项 -->
                ixz="0.0"                     <!-- xz 平面内的惯性耦合项 -->
                iyy="${(m/12)*(3*r*r+h*h)}"  <!-- 绕 y 轴的惯性矩 -->
                iyz="0.0"                     <!-- yz 平面内的惯性耦合项 -->
                izz="${(m/2)*(r*r)}"          <!-- 绕 z 轴的惯性矩 -->
            />
        </inertial>
    </xacro:macro>

    <!-- 定义一个名为 sphere_inertia 的宏，用于计算球体的惯性 -->
    <xacro:macro name="sphere_inertia" params="m r">
        <inertial>
            <mass value="${m}"/> <!-- 设置物体的质量 -->
            <inertia
                ixx="${(2/5)*m*(r*r)}"  <!-- 绕 x 轴的惯性矩 -->
                ixy="0.0"               <!-- xy 平面内的惯性耦合项 -->
                ixz="0.0"               <!-- xz 平面内的惯性耦合项 -->
                iyy="${(2/5)*m*(r*r)}"  <!-- 绕 y 轴的惯性矩 -->
                iyz="0.0"               <!-- yz 平面内的惯性耦合项 -->
                izz="${(2/5)*m*(r*r)}"  <!-- 绕 z 轴的惯性矩 -->
            />
        </inertial>
    </xacro:macro>
</robot>
